$primary-color: var(--primary-color);
$primary-color-dark: var(--primary-color-dark);
$primary-color-light: var(--primary-color-light);
$primary-color-background: var(--primary-color-background);
$secondary-color: var(--secondary-color);
$secondary-color-dark: var(--secondary-color-dark);
$secondary-color-background: var(--secondary-color-background);

$gutter: 3rem;
$small-gutter: 1.5rem;
$box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);

$screen-large: 1200px;
$screen-medium: 900px;
$screen-small: 600px;
